{% load staticfiles %}
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="{% static kwargs.css_n01_common_leapfrog_main_css %}" />
    {% if kwargs.title %}
    <title>{{ kwargs.title }}</title>
    {% endif %}
    <link rel="shortcut icon" href="{% static kwargs.image_n01_common_favicon_png %}" />
</head>

<body>
<div id="top_box" style="position:fixed;
            background-color:#FFFFFF;
            z-index:1;
            margin-top:-16px;
            width:99%"
      >
    <div id = "home_nav">
        <ul id="tabs">
            <li><a href="/{{kwargs.root_url}}"><img src="{% static kwargs.image_n01_common_blank_png %}" style="float:left;border:0px; margin:0px 0px 0px 0px;"></a></li>
            <!--<li><a href="{{kwargs.back}}"><font>Back</font></a></li>-->
            <li class="selected"><a><font>No such page</font></a></li>
        </ul>
    </div>
    <a href="/{{kwargs.root_url}}"><img src="{% static kwargs.image_n01_common_nest_header_png %}" style="float:left;border:0px;margin:-30px 0px 0px 0px;"></a>
</div>
<br/><br/><br/>
<div style="margin: 0 0 0 40px; font:15px 'Lucida Sans';">
Page does not exist or is under construction.<br/><br/><br/>
Contact DL-PP-NEST-Admin@corp.ebay.com for more information.<br/>
</div>
</body>